<div class="row parentDiv">
  <div class="col-md-8">
    <mat-card class="cheader">
      <h1>{{ time | async | date:'hh:mm:ss a' }}</h1><br>
      <h1 style="padding: 20px;font-size: 30px;">{{ time | async | date:'EEEE' }}</h1> 
      <h1 style="padding: 20px;font-size: 30px;">{{ time | async | date:'d LLLL y'}}</h1>
    </mat-card>
    <mat-card class="checkIn">
      <mat-card-title>
        Check In Total: {{ numofClockIn }}
        <h2 style="float:right;margin: 11px;">Late: {{ numofLateness }}</h2>
      </mat-card-title>
      <table mat-table [dataSource]="checkIn" class="mat-elevation-z8" matSortActive="desc">

        <!-- No Column -->
        <ng-container matColumnDef="attendance_uid">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let i = index"> {{ numofClockIn - i }} </td>
        </ng-container>

        <!-- StaffID Column -->
        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef> Staff ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.employeeName }} </td>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="clockIn">
          <th mat-header-cell *matHeaderCellDef> Clock In </th>
          <td mat-cell *matCellDef="let element"> {{ element.clockIn }} </td>
        </ng-container>

        <!-- Lateness Column -->
        <ng-container matColumnDef="lateness">
          <th mat-header-cell *matHeaderCellDef> Lateness </th>
          <td mat-cell *matCellDef="let element" [ngClass]="element.lateness.substring(0,1) === '-' ?'green':'red'">
            {{ element.lateness.substring(0,1) === '-' ? 'On Time' : element.lateness+ ' (Late)' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
      </mat-card>
    </mat-card>
  </div>

  <mat-card class="col-md-4">
    <mat-card-title>Pending {{ numofPending }}</mat-card-title>
    <table mat-table [dataSource]="dataPending" class="mat-elevation-z8">
      <!-- No Column -->
      <ng-container matColumnDef="employee_uid">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index;"> {{ i+1 }} </td>
      </ng-container>
      <!-- StaffID Column -->
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef>Staff ID</th>
        <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>

    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>
  </mat-card>
</div>