.mat-card-title{
  font-size: 30px;
}
table {
    width: 100%;
  }
.container{
  justify-content: center;
  align-content: center;
  padding: 40px;
  display: flex;

  .mat-card{
    width: 60%;
    background-color:lightgrey;
  }
  .pending{
    width: 20%;
  }
} 
.top{
  padding-left: 30px;
  padding-bottom: 10px;
  text-align: center;
}
