header {
    background: #171D75;
    font-family: Verdana;
    color: white;
    padding: 25px;
    width: 100%;

    .content{
        padding-left: 16px;
        h1{
        display: inline;
        }
            .apply{
                font-size: 15px;
                color: #171D75;
                background-color: white;
                border-radius: 35px;
                width:100px;
                height:39px;
                position: absolute;
                right: 40px;
            }
    }
}
