header {
    background: #171D75;
    font-family: Verdana;
    color: white;
    padding: 25px;
    width: 100%;

    .content{
        padding-left: 16px;
        text-align: center;
        h1{
        display: inline;
        }
    }
}
